body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

#main-div {
    height: 100vh;
    margin-left: 500px;
    margin-right: 500px;
}

#main-div h1 {
    color: pink;
}
